<br><br>
<div class="post-it-div">
  <div class="left-splash-postit">
    <div class="splash-link-div">
      <%= link_to "Classify Your Songs", new_path, id: "classify-postit" %>
    </div>
  </div>
</div>
