<h1 style="color:white" class="title">Classify</h1>
<div class="post-it-div">
  <div class="left-splash-postit">
    <div class="splash-link-div">
      <%= link_to "Classify Your Songs", new_user_path, id: "classify-postit" %>
    </div>
  </div>
</div>
