<h1 class="title">Choose The Playlist You Want To Classify</h1>
<ul class="playlist-list">
  <% @playlists.each do |playlist| %>
    <li><%=link_to playlist.playlist_name, class_playlists_path(:play_id => playlist.playlist_id)%></li>
    <br>
  <% end %>
</ul>
